/build
/compile_commands.json
/webserv
/webserv_fuzz
.cache
/.clang-format
*.plist
/CORPUS
/NEW_CORPUS
/OLD_CORPUS
/shilka
/flag.php
*.d
/a.out
/gmon.out
/*.pem
/*_CORPUS
/*.br
/callgrind.out.*
/vgcore.*
/locale/*.mo
